
.container--cards{
    @include central-feature;
    flex-flow: row wrap;
    display: flex;
    justify-content: space-around;
}


.card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
}

.card__head{
    width: 100%;
    background-color: $grey-bg;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
}

.card__blurb{
    background-color: $grey-bg;
    padding: 1rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card__img{
    img {
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
}





