
.container--cards{
    margin: auto;
    display: flex;
    justify-content: space-around;
    @include phone {
        flex-direction: column;
        width: 100%;
    }
    @include tablet-portrait { 
        flex-direction: column;   
        width: 90%;
    }
    @include tablet-landscape {
        flex-direction: row;
        flex-flow: row wrap;
    }
    @include small-desktop {
        width: 75%
      }
    @include desktop {    
        width: 70%;
    }
    @include large-desktop {    
        width: 60%;
        max-width: 1400px;
    }
    @include vlarge-desktop {    
        max-width: 2000px; 
    }
}


.card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    @include phone {
        padding: 1.2rem;
    }
}

.card__head{
    width: 100%;
    background-color: $grey-bg;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
}

.card__blurb{
    background-color: $grey-bg;
    padding: 1rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    @include phone {
        padding: 0.7rem;
    }
}

.card__img{
    img {
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
}





