.footer {
    background-color: $light-steel-blue;
}

.footer__row {
    @include normal-nav {
        @include central-nav;
        justify-content: space-between;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    @include mobile-nav {
        padding-top: 0.7rem;
        padding-bottom: 0.5rem;
    }
}

.footer__socials {
    padding-right: 1.5rem;
    align-self: center;
    @include mobile-nav {
        text-align: center;
        padding: 0.5rem;
    }
}

.footer__contact {
    padding-left: 1.5rem;
}

.footer__copy {
    text-align: center;
    padding-bottom: 1.5rem;
}

.footer__links {
    font-size: 3rem;
    padding: 1rem;
    color: white;
    @include phone {
        padding: 0.5rem;
        font-size: 2rem;
    }
    @include large-desktop {
        font-size: 3.8rem;
    }
}