.hero__container {
    padding-left: 5rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    @include phone {
        padding-right: 15vw;
        padding-left: 15vw;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

.hero__heading {
    font-family: $roboto-font;
    font-size: 5rem;
    @include phone {
        font-size: 2rem;
        width: 70vw;
        padding: 1rem;
        text-align: center;
    }
    color: $medium-aquamarine;
    width: 50vw;
    background-color: white;
    border-radius: 20px;
    border: 2px solid white;
    padding: 2rem;

}

.hero {
    background-image: url(../../images/blue-green-lines-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
}




