.hero__container {
    @include phone {
        padding: 4rem 15vw; 
    }
    @include tablet-portrait {
        padding: 4rem 15vw;
    }
    @include small-desktop {
        padding: 7rem 20vw;
    }
    @include large-desktop {
        padding: 10rem 23vw;
    }
}

.hero__heading {
    font-family: $roboto-font;
    color: $medium-aquamarine;
    background-color: white;
    border-radius: 20px;
    border: 2px solid white;
    @include phone {
        font-size: 2rem;
        width: 70vw;
        padding: 1rem;
        text-align: center;
    }
    @include tablet-portrait {
        font-size: 2.5rem;
        width: 70vw;
        padding: 1rem;
        text-align: center;
    }
    @include small-desktop {
        font-size: 3.5rem;
        width: 60vw;
        padding: 1.5rem;
    }
    @include desktop {
        font-size: 4rem;
        line-height: 4.2rem;
        padding: 2rem;
    }
    @include large-desktop {
        width: 54vw;
        font-size: 4.5rem;
        line-height: 4.7rem;
        padding: 2.5rem;
    }
    @include vlarge-desktop {
        font-size: 5rem;
        line-height: 5.4rem;
        padding: 3rem;
    }

}

.hero {
    background-image: url(../../images/blue-green-lines-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
}




