.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 5rem;
    background-color: white;
    position: fixed;
    width: 100%;
    @include phone {
        position: relative;
    }
}

.navbar__content {
    align-self: center;
}
 
.navbar__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40vw;
}



