.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 5rem;
    background-color: white;
    position: fixed;
    width: 100%;
}

.navbar__content {
    align-self: center;
}
 
.navbar__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40vw;
}


.navbar__item {
    a {
      @include nav-text;
      text-transform: uppercase;
      font-family: $roboto-font;
      font-size: 1.3rem;
    }
    a:hover{
        text-decoration: underline;
    }
}

.navbar__brand {
    a {
        @include nav-text;
        font-family: $courier-font;
        vertical-align: bottom;
        font-size: 1.5rem;
        span {
            color: grey;
        }
    } 
    a:hover{
        text-decoration: underline;
    }
}


