.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 5rem;
    background-color: white;
    position: fixed;
    width: 100%;
    @include phone {
        position: relative;
        padding: 1rem;
    }
    @include tablet-portrait {
        position: relative;
        padding: 1rem;
    }
}

.navbar__mobile {
    @include normal-nav {
        display: none;
    }
}

.navbar__mobile_menu {
    display: none;
}

.navbar__list_mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar__icon {
    font-size: 1.5rem;
    color: grey;
}

.navbar__content {
    align-self: center;
    @include mobile-nav {
        display: none;
    }
}
 
.navbar__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40vw;
}



