.row-article{
    @include central-feature;
}

.row-article__main, .row-article__img{
    margin: 3rem;
    @include phone {
        margin: 1rem 2rem;
    }
}

.row-article__main {
    flex-basis: 65%;
}

.row-article__img{
    flex-basis: 35%;
}

.row-article__img img{
    border-radius: 15px;
}

.row-article__text{
    margin-top: 1.5rem;
    @include phone {
        margin-top: 0.75rem;
    }
}

.container--grey{
    background-color: $grey-bg;
}



