//Fonts
//Inter
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@531;700&display=swap');
//Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
//Prima Sans
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
//Font variables
$roboto-font: 'Roboto', sans-serif;
$inter-font: 'Inter', sans-serif;
$courier-font: 'Courier Prime', monospace;

//Colour palette to go with blue-green-lines picture
$dark-slate-blue: #2A5877;
$steel-blue: #366F8F;
$dark-slate-grey: #264251;
$powder-blue: #B2DAE1;
$aquamarine: #6EBAC6;
$dark-aquamarine: #318a83;
$medium-aquamarine: #0597b8;
$grey-bg: rgb(240,243,245);
$light-steel-blue: lighten($steel-blue, 10%);

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

img {
    object-fit: cover;
}

//media queries for resposivity

  @mixin phone {
    @media (max-width: 599px) { @content; }
  }
  @mixin mobile-nav {
    @media (max-width: 899px){ @content; }
  }
  @mixin normal-nav {
    @media (min-width: 900px) { @content; }
  }
  @mixin tablet-portrait {
    @media (min-width: 600px) { @content; }
  }
  @mixin tablet-landscape {
    @media (min-width: 900px) { @content; }
  }
  @mixin small-desktop {
    @media (min-width: 1000px) { @content; }
  }
  @mixin desktop {
    @media (min-width: 1200px) { @content; }
  }
  @mixin large-desktop {
    @media (min-width: 1600px) { @content; }
  }
  @mixin vlarge-desktop {
    @media (min-width: 2500px) { @content; }
  }

  //to use for the row-article, to determine if float or flex
  @mixin floated {
    @media (max-width: 1199px) { @content; }
  }

  @mixin non-floated {
    @media (min-width: 1200px) { @content; }
  }

//used for centralised nav and footer
@mixin central-nav {
  margin: auto;
  display: flex;
  @include phone {
      width: 100%;
  }
  @include tablet-portrait {    
      width: 90%;
  }
  @include tablet-landscape {    
      width: 90%;
  }
  @include desktop {    
      width: 80%;
  }
  @include large-desktop {    
      width: 70%;
      max-width: 1200px
  }
  @include vlarge-desktop {    
      max-width: 2000px; 
  }
}
//to allow elements to centralise on screen when linked to
.anchor {
  position: relative;
  padding-top: 4rem;
  @include phone {
    padding-top: 1rem;
    display: none;
  }
}

.anchor-footer {
  position: relative;
}

