//Fonts
//Inter
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@531;700&display=swap');
//Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
//Prima Sans
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
//Font variables
$roboto-font: 'Roboto', sans-serif;
$inter-font: 'Inter', sans-serif;
$courier-font: 'Courier Prime', monospace;

//Colour palette to go with blue-green-lines picture
$dark-slate-blue: #2A5877;
$steel-blue: #366F8F;
$dark-slate-grey: #264251;
$powder-blue: #B2DAE1;
$aquamarine: #6EBAC6;
$dark-aquamarine: #318a83;
$medium-aquamarine: #0597b8;
$grey-bg: rgb(240,243,245);

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

img {
    object-fit: cover;
}

@mixin central-feature {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 80%;
    max-width: 1200px;
}

