//Fonts
//Inter
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@531;700&display=swap');
//Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
//Font variables
$roboto-font: 'Roboto', sans-serif;
$inter-font: 'Inter', sans-serif;

//Colour palette to go with blue-green-lines picture
$dark-slate-blue: #2A5877;
$steel-blue: #366F8F;
$dark-slate-grey: #264251;
$powder-blue: #B2DAE1;
$aquamarine: #6EBAC6;
