@mixin nav-text {
    color: $steel-blue;
    text-decoration: none;
}

.row-article__text, .card__blurb{
    font-family: $roboto-font;
    color: black;
    font-size: 1.2rem;
}

.row-article__head {
    font-family: $inter-font;
    color: $steel-blue;
    font-size: 2rem;
}

.card__head{
    a {
        font-family: $inter-font;
        color: $steel-blue;
        font-size: 1.4rem;
        text-decoration: none;
        display: inline-block;
    }
    text-align: center;
    vertical-align: middle;
}
