@mixin nav-text {
    color: $light-steel-blue;
    text-decoration: none;
}

.navbar__item {
    a {
      @include nav-text;
      text-transform: uppercase;
      font-family: $roboto-font;
      @include phone { 
        font-size: 1rem;
        }
      @include tablet-landscape { 
        font-size: 1.5rem;
        padding: 1rem;
      }
      @include desktop {
        font-size: 1.7rem;
        padding: 1.2rem;
      }
      @include vlarge-desktop {
        font-size: 2rem;
        padding: 1.6rem;
      }
    }
    a:hover{
        text-decoration: underline;
    }
}

.navbar__header {
    @include phone {
        line-height: 1.5rem;
    }
}

.navbar__brand {
    a {
        @include nav-text;
        font-family: $courier-font;
        vertical-align: bottom;
        @include phone {
            font-size: 1.2rem;
            line-height: 1.5rem;
        }
        @include tablet-portrait {
            font-size: 1.7rem;
        }
        @include desktop {
            font-size: 2rem;
        }
        @include vlarge-desktop {
            font-size: 2.2rem;
        }
        span {
            color: grey;
        }
    } 
    a:hover{
        text-decoration: underline;
    }
}


.row-article__text, .card__blurb{
    font-family: $roboto-font;
    color: black;
    font-size: 1.2rem;
    @include phone {
        font-size: 0.8rem;
    }
    @include large-desktop {
        font-size: 1.5rem;
    }
    @include vlarge-desktop {
        font-size: 1.8rem;
    }
}

.row-article__text{
    line-height: 1.5rem;
    @include large-desktop {
        line-height: 1.8rem;
    }
    @include vlarge-desktop {
        line-height: 2.2rem;
    }
}

.row-article__head {
    font-family: $inter-font;
    color: $light-steel-blue;
    @include phone {
        font-size: 1.5rem;
    }
    @include tablet-portrait {
        font-size: 1.5rem;
    }
    @include large-desktop {
        font-size: 1.8rem;
    }
    @include vlarge-desktop {
        font-size: 2.2rem;
    }
}

.card__title{
    font-family: $inter-font;
    color: white;
    background-color: lighten($steel-blue, 10%);
    font-size: 2rem;
    text-align: center;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    @include phone {
        font-size: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    @include large-desktop {
        font-size: 2.3rem;
    }
    @include vlarge-desktop {
        font-size: 3.2rem;
    }
}

.card__head{
    a {
        font-family: $inter-font;
        color: $light-steel-blue;
        font-size: 1.5rem;
        text-decoration: none;
        display: inline-block;
        padding: 0.5rem;
        @include phone {
            font-size: 1rem;
            padding: 0.3rem; 
        }
        @include large-desktop {
            font-size: 1.8rem;
        }
        @include vlarge-desktop {
            font-size: 2.2rem;
        }
        
    }
    a:hover {
        background-color: $light-steel-blue;
        color: white;
        border-radius: 5px;
    }
    text-align: center;
    vertical-align: middle;
}

.footer__text {
    font-family: $roboto-font;
    color: white;
    &-large {
        @extend .footer__text;
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
        @include phone {
            font-size: 1rem;
        }
        @include large-desktop {
            font-size: 2rem;
        }
    }
    &-small {
        @extend .footer__text;
        font-size: 1.2rem;
        @include phone {
            font-size: 0.8rem;
        }
        @include large-desktop {
            font-size: 1.8rem;
        }
    }
    &-tiny {
        @extend .footer__text;
        font-size: 0.8rem;
        @include desktop {
            font-size: 1rem;
        }
        @include large-desktop {
            font-size: 1.2rem;
        }
    }
    
}

