/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@531;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body, html {
  height: 100%; }

img {
  object-fit: cover; }

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover; }

.row-article__text, .card__blurb {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 1.2rem; }

.row-article__head {
  font-family: "Inter", sans-serif;
  color: #448cb4;
  font-size: 2rem; }

.card__head {
  text-align: center;
  vertical-align: middle; }
  .card__head a {
    font-family: "Inter", sans-serif;
    color: #448cb4;
    font-size: 1.4rem;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem; }
  .card__head a:hover {
    background-color: #448cb4;
    color: white;
    border-radius: 5px; }

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 5rem;
  background-color: white;
  position: fixed;
  width: 100%; }

.navbar__content {
  align-self: center; }

.navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40vw; }

.navbar__item a {
  color: #448cb4;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem; }

.navbar__item a:hover {
  text-decoration: underline; }

.navbar__brand a {
  color: #448cb4;
  text-decoration: none;
  font-family: "Courier Prime", monospace;
  vertical-align: bottom;
  font-size: 1.5rem; }
  .navbar__brand a span {
    color: grey; }

.navbar__brand a:hover {
  text-decoration: underline; }

.hero__container {
  padding-left: 5rem;
  padding-top: 10rem;
  padding-bottom: 10rem; }

.hero__heading {
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  color: #0597b8;
  width: 50vw;
  background-color: white;
  border-radius: 20px;
  border: 2px solid white;
  padding: 2rem; }

.hero {
  background-image: url(../../images/blue-green-lines-small.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw; }

.row-article {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 80%;
  max-width: 1200px; }

.row-article__main, .row-article__img {
  margin: 3rem; }

.row-article__main {
  flex-basis: 65%; }

.row-article__img {
  flex-basis: 35%; }

.row-article__img img {
  border-radius: 15px; }

.row-article__text {
  margin-top: 1.5rem;
  line-height: 1.5rem; }

.container--grey {
  background-color: #f0f3f5; }

.card__title {
  font-family: "Inter", sans-serif;
  color: white;
  background-color: #448cb4;
  font-size: 2rem;
  text-align: center;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem; }

.container--cards {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 80%;
  max-width: 1200px;
  flex-flow: row wrap;
  display: flex;
  justify-content: space-around; }

.card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%; }

.card__head {
  width: 100%;
  background-color: #f0f3f5;
  padding-top: 0.5rem;
  padding-bottom: 0.3rem; }

.card__blurb {
  background-color: #f0f3f5;
  padding: 1rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px; }

.card__img img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px; }

.footer {
  background-color: #448cb4; }
