/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@531;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body, html {
  height: 100%; }

img {
  object-fit: cover; }

.anchor {
  position: relative;
  padding-top: 4rem; }

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover; }

.navbar__item a {
  color: #448cb4;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem; }
  @media (max-width: 599px) {
    .navbar__item a {
      font-size: 1rem; } }

.navbar__item a:hover {
  text-decoration: underline; }

@media (max-width: 599px) {
  .navbar__header {
    line-height: 1.5rem; } }

.navbar__brand a {
  color: #448cb4;
  text-decoration: none;
  font-family: "Courier Prime", monospace;
  vertical-align: bottom;
  font-size: 1.7rem; }
  @media (max-width: 599px) {
    .navbar__brand a {
      font-size: 1.2rem;
      line-height: 1.5rem; } }
  .navbar__brand a span {
    color: grey; }

.navbar__brand a:hover {
  text-decoration: underline; }

.row-article__text, .card__blurb {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 1.2rem; }
  @media (max-width: 599px) {
    .row-article__text, .card__blurb {
      font-size: 0.8rem; } }
  @media (min-width: 2500px) {
    .row-article__text, .card__blurb {
      font-size: 2.8rem; } }

.row-article__text {
  line-height: 1.5rem; }
  @media (min-width: 2500px) {
    .row-article__text {
      line-height: 3rem; } }

.row-article__head {
  font-family: "Inter", sans-serif;
  color: #448cb4;
  font-size: 2rem; }
  @media (max-width: 599px) {
    .row-article__head {
      font-size: 1.5rem; } }

.card__title {
  font-family: "Inter", sans-serif;
  color: white;
  background-color: #448cb4;
  font-size: 2rem;
  text-align: center;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem; }

.card__head {
  text-align: center;
  vertical-align: middle; }
  .card__head a {
    font-family: "Inter", sans-serif;
    color: #448cb4;
    font-size: 1.4rem;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem; }
  .card__head a:hover {
    background-color: #448cb4;
    color: white;
    border-radius: 5px; }

.footer__text, .footer__text-large, .footer__text-small, .footer__text-tiny {
  font-family: "Roboto", sans-serif;
  color: white; }
  .footer__text-large {
    font-size: 2rem;
    padding-bottom: 0.5rem; }
  .footer__text-small {
    font-size: 1.5rem; }
  .footer__text-tiny {
    font-size: 0.8rem; }

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 5rem;
  background-color: white;
  position: fixed;
  width: 100%; }
  @media (max-width: 599px) {
    .navbar {
      position: relative;
      padding: 1rem; } }

@media (min-width: 599px) {
  .navbar__mobile {
    display: none; } }

.navbar__mobile_menu {
  display: none; }

.navbar__list_mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.navbar__icon {
  font-size: 1.5rem;
  color: grey; }

.navbar__content {
  align-self: center; }
  @media (max-width: 599px) {
    .navbar__content {
      display: none; } }

.navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40vw; }

.hero__container {
  padding-left: 5rem;
  padding-top: 10rem;
  padding-bottom: 10rem; }
  @media (max-width: 599px) {
    .hero__container {
      padding: 4rem;
      margin: auto; } }

.hero__heading {
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  color: #0597b8;
  width: 50vw;
  background-color: white;
  border-radius: 20px;
  border: 2px solid white;
  padding: 2rem; }
  @media (max-width: 599px) {
    .hero__heading {
      font-size: 2rem;
      width: 70vw;
      padding: 1rem; } }

.hero {
  background-image: url(../../images/blue-green-lines-small.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw; }

.row-article {
  display: flex;
  margin: auto; }
  @media (max-width: 599px) {
    .row-article {
      width: 100%;
      flex-direction: column; } }
  @media (min-width: 600px) {
    .row-article {
      width: 90%;
      flex-direction: column; } }
  @media (min-width: 900px) {
    .row-article {
      width: 90%;
      flex-direction: row; } }
  @media (min-width: 1200px) {
    .row-article {
      width: 80%;
      flex-direction: row; } }
  @media (min-width: 1800px) {
    .row-article {
      width: 80%;
      max-width: 1200px;
      flex-direction: row; } }
  @media (min-width: 2500px) {
    .row-article {
      width: 80%;
      max-width: 2000px;
      flex-direction: row; } }

.row-article__main, .row-article__img {
  margin: 3rem; }
  @media (max-width: 599px) {
    .row-article__main, .row-article__img {
      margin: 1rem 2rem; } }

.row-article__main {
  flex-basis: 65%; }

.row-article__img {
  flex-basis: 35%; }

.row-article__img img {
  border-radius: 15px; }

.row-article__text {
  margin-top: 1.5rem; }
  @media (max-width: 599px) {
    .row-article__text {
      margin-top: 0.75rem; } }

.container--grey {
  background-color: #f0f3f5; }

.container--cards {
  display: flex;
  margin: auto;
  flex-flow: row wrap;
  display: flex;
  justify-content: space-around; }
  @media (max-width: 599px) {
    .container--cards {
      width: 100%;
      flex-direction: column; } }
  @media (min-width: 600px) {
    .container--cards {
      width: 90%;
      flex-direction: column; } }
  @media (min-width: 900px) {
    .container--cards {
      width: 90%;
      flex-direction: row; } }
  @media (min-width: 1200px) {
    .container--cards {
      width: 80%;
      flex-direction: row; } }
  @media (min-width: 1800px) {
    .container--cards {
      width: 80%;
      max-width: 1200px;
      flex-direction: row; } }
  @media (min-width: 2500px) {
    .container--cards {
      width: 80%;
      max-width: 2000px;
      flex-direction: row; } }

.card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%; }

.card__head {
  width: 100%;
  background-color: #f0f3f5;
  padding-top: 0.5rem;
  padding-bottom: 0.3rem; }

.card__blurb {
  background-color: #f0f3f5;
  padding: 1rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px; }

.card__img img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px; }

.footer {
  background-color: #448cb4; }

.footer__row {
  display: flex;
  margin: auto;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  @media (max-width: 599px) {
    .footer__row {
      width: 100%;
      flex-direction: column; } }
  @media (min-width: 600px) {
    .footer__row {
      width: 90%;
      flex-direction: column; } }
  @media (min-width: 900px) {
    .footer__row {
      width: 90%;
      flex-direction: row; } }
  @media (min-width: 1200px) {
    .footer__row {
      width: 80%;
      flex-direction: row; } }
  @media (min-width: 1800px) {
    .footer__row {
      width: 80%;
      max-width: 1200px;
      flex-direction: row; } }
  @media (min-width: 2500px) {
    .footer__row {
      width: 80%;
      max-width: 2000px;
      flex-direction: row; } }

.footer__socials {
  padding-right: 1.5rem;
  align-self: center; }

.footer__contact {
  padding-left: 1.5rem; }

.footer__copy {
  text-align: center;
  padding-bottom: 1.5rem; }

.footer__links {
  font-size: 3rem;
  padding: 1rem;
  color: white; }
